<ons-page id="recipe-detail" ng-controller="RecipeDetailController">

  <ons-toolbar modifier="transparent">
    <div class="left">
      <ons-back-button>Back</ons-back-button>
    </div>
    <div class="center">食の知見</div>
  </ons-toolbar>

  <div class="content">
  <ons-list modifier="inset" style="margin-top: 10px">
    <ons-list-item class="item">
      <ons-row>
        <ons-col width="100%">
          <!--<div class="recipe-img">-->
            <img src="{{data.fullimgPath}}" width="99%">  
          <!--</div>-->
        </ons-col>
        <ons-col width="100%">
          <header>
            <p><div class="recipe-title">{{data.name}}</div></p>
            <span class="recipe-syokuyu">食癒効果：{{data.effect}}</span>
          </header>
          <p class="item-desc">{{data.knowledge}}</p>
        </ons-col>
      </ons-row>
    </ons-list-item>

    <ons-list-item modifier="chevron" id="add-note-action" 
        ng-repeat="tag in data.tagList"
        ng-click="showTroubleDetailPage(tag)">
      <ons-icon icon="ion-chatboxes" fixed-width="true" style="color: #ccc"></ons-icon>
      {{tag.col_name}}
    </ons-list-item>
  </ons-list>
  </div>
  
  <link rel="stylesheet" href="css/recipe-detail.css">
</ons-page>