<ons-page id="recipe_list" ng-controller="RecipeListController">
 <body>
    <!-- TODO: Please edit here -->
    <ons-back-button>Back</ons-back-button>
     <ons-toolbar>
        <div class = "center">レシピ一覧</div>
     </ons-toolbar>   
 </body>   
 
 <div class="fusen">
 <ul>
    <li modifier="chevron" ng-repeat="result in results"
        ng-click="showDetailPage(result)">
        {{result.col_name}}
    </li>
</ul>
</div>
<link rel="stylesheet" href="css/recipe-list.css">
</ons-page>

