.content {
  padding-top: 44px;
  background: linear-gradient(rgba(254, 221, 166, 0.42),rgba(73, 64, 49, 0.49));
}

.navigation-bar--material + .page__background + .page__content {
  top: 0px;
}

.page__status-bar-fill + ons-toolbar > .center,
.page__status-bar-fill + ons-toolbar > .left,
.page__status-bar-fill + ons-toolbar > .right {
  padding-top: 10px;
}

.page__status-bar-fill + ons-toolbar + .page__background + .page__content {
  top: 0px;
  padding-top: 0px;
}

.recipe-title {
    padding: 5px;
    width: 95%;
    text-align: center;
    font-size: xx-large;
}